@tailwind base;
@tailwind components;
@tailwind utilities;

.Header {
  background-color: teal;
  color: whitesmoke;
  justify-content: center;
  align-content: center;


}


.header-button {
  gap: 50px;
  font-size:25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: right;
  margin-right: 40px;
 
  
}


.status {
 
   font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  margin-left: 10px;
}
/* Jobs */
.jobs {
  
  font-size: 40px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center;
   margin: 250px;
  font-weight: bold;
  text-align: center;
  color: rgb(16, 99, 99);
  
}
/* Contact Us */
.contact {
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(6, 90, 90);  
}

  .paragraph {
    font-size: xx-large;
    justify-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(15, 127, 127);
  }


  .inquiry {
    font-size: 30px;
    font-family: cursive;
    color: rgb(15, 127, 127);
    font-weight: bold;
  }
.link-para{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
 
}
  .link{
    font-size: 20px;
    color:blueviolet;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  /* About US */
  .Heading-about{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: teal;
    
  }

  .about-paragraph{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: lightseagreen

  }

  .heading-mission{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: teal;
  }

  .mission-paragraph{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: lightseagreen
  }
  .offer-course{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: teal
  }

  .course-paragraph{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: lightseagreen
 
  }


  .course-list{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color:lightseagreen;
   
  }

  .list-def{
    font-weight: bolder;
    color: teal
  }

  .team{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: teal
  }

  .team-paragraph{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: lightseagreen
}

.involve{
  font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color:teal
}

.involve-paragraph {
  font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: lightseagreen
}

.thank{
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: rgb(10, 89, 89);
  font-weight: bold;

}

.home{
  display: flex;
  justify-content: space-between;
 
  
}
.gov-sindh{
  font-size: 70px;
  font-weight: bolder;
  color:teal;
  margin-top: 30px;


}

.kamran{
font-size: 50px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: teal;
font-weight: 500;
}

.giaic{
  font-size: 40px;
  color: lightseagreen;
  font-weight: bold;

}

.earn{
  font-size: 30px;
  color: teal;
  font-weight: bold;

}


.Image-kamran{
  justify-content: center;
  margin-top: 20px;
  height: 500px;
  width: 800px;
  margin-right: 5px;
  
 
}
